 <div class= "container">
   <h2>
    <%= link_to "Edit My Account", edit_user_path(current_user) %> |
    <%= link_to "Delete My Account", user_path(current_user), :method => :delete %> |
    <% if logged_in? %>
      <%= link_to 'Logout', session_path, :method => :delete %>
    <% end %>
  </h2>
</div>

