  <div class="container">
    <h1>CITIBIKE.NYC</h1>
    <h4>get awesome.</h4>
    <h2><%= link_to "Log In", new_session_path %> |
      <%= link_to "Create Account", new_user_path %>
    </h2>
  </div>
