<div class="container">

  <h2>Find docks near your destination:</h2>  

   <div class="form">
      <%= form_tag searches_path, :method => :post do %>   
      <%= text_field_tag :address, params[:address], placeholder: 'street city and zip...'%>  
      <%= submit_tag "Go", :name => nil %>  
      <% end %>  
  </div>

  <ul>
    <li><h2><%= link_to "Go to Favorites", user_path(current_user) %></h2></li>
  </ul>

</div>