<div class="container">

  <h2>Search for the nearest available bike or dock:</h2>  

   <div class="form">
      <%= form_tag searches_path, :method => :post do %>  
      <%= text_field_tag :address, params[:address], placeholder: 'street city and zip...'%>  
      <%= submit_tag "Go" %>   
      <% end %>  
  </div>

  <ul>
    <li><h2><%= link_to "Go to Saved Destinations", user_path(current_user) %></h2></li>
  </ul>

</div>
