<h3><%= "Destination coordinates: #{@x}#{@y}" %></h3>
<h3><%= "Coordinates for closest dock to the destination: #{@result}" %></h3>
<h3><%= "Address of the closest dock to the destination: #{@final_glorious_answer}" %></h3>

                    